$gilroy-font-path: "../assets/fonts/gilroy";
$dinpro-font-path: "../assets/fonts/DINPro";


@font-face {
    // This is parsed as a normal function call that takes a quoted string.
    src: url("#{$gilroy-font-path}/Gilroy-Extrabold.woff2") format("woff2");
    font-family: "Gilroy";
    font-weight: 800;
}
@font-face {
    // This is parsed as a normal function call that takes a quoted string.
    src: url("#{$gilroy-font-path}/Gilroy-Regular.woff2") format("woff2");
    font-family: "Gilroy";
    font-weight: 400;
}
@font-face {
    // This is parsed as a normal function call that takes a quoted string.
    src: url("#{$gilroy-font-path}/Gilroy-Light.woff2") format("woff2");
    font-family: "Gilroy";
    font-weight: 300;
}
@font-face {
    // This is parsed as a normal function call that takes a quoted string.
    src: url("#{$gilroy-font-path}/Gilroy-Thin.woff2") format("woff2");
    font-family: "Gilroy";
    font-weight: 200;
}

@font-face {
    // This is parsed as a normal function call that takes a quoted string.
    src: url("#{$dinpro-font-path}/dinpro_black.otf") format("orf");
    font-family: "DINPro";
    font-weight: 900;
}
