$base_size: 26px;

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: $base_size 60px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    background: transparent;

    svg {
        width: $base_size;
        height: $base_size;
    }
}

.divider {
    display: block;
    height: $base_size;
    width: 2px;
    background: black;
    margin: 0 $base_size;
}

.title {
    font-size: $base_size;
    line-height: $base_size;

}
